[Unit]
Description=Mi Script de Python de Ejemplo
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/scripts/mi_script.py
Restart=on-failure
RestartSec=5
User=pi
WorkingDirectory=/home/pi/scripts
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
